/* =========================== 
            HEADER CSS
    ==========================
        Styles for header
    =========================*/

header {
    /* background-color: #000000; */
}

/* -----  TOP LINE CONTACT INFO -------  */

.header-top-container {    
    width: 100%;
    background-color: var(--fucsia);         
    color: #FFF;
}

.header-top {
    padding-block: 5px;    
    padding-inline: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    color: #FFF;
    width: 100%;  
    margin-inline: auto;     
}

.header-top-contactData {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.header-top-contactData p, 
.header-top-contactData i {
    color: #ffffff;
    font-size: 13px;
    margin: 4px 28px 4px 0px;   
}

.header-top-contactData a {
    color: #ffffff;
}

.header-top-contactData i {
    font-size: 16px;
    margin-right: 15px;
    margin-top: 2px;
}

.header-top-socialNetworks {
    display: flex;
    flex-direction: row;
}

.header-top-socialNetworks a {
    font-size: 20px;
    -webkit-transition: all linear 0.5s;
    transition: all linear 0.5s;
}

.header-top-socialNetworks li,
.header-top-socialNetworks i,
.header-top-socialNetworks a {
    color: #ffffff;
    margin: 0 0 0 7px;
    width: fit-content;
}

header a:hover,
.header-top-socialNetworks i:hover
 {
    color: var(--amarillo);
}

footer .header-top-socialNetworks i:hover
 {
    color: var(--amarillo);
    scale: 1.1;
    transition: all 0.2s ease-in-out;
}

/* ------ HEADER LOGO AND MENU ----------- */

.header-logo-menu-container {
    padding-block: 10px;    
}

.header-logo-container {
    width: 240px;
}

.header-logo-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/*  ------------------- */
/*    RESPONSIVENESS    */
/*  ------------------- */

@media screen and (max-width: 760px) {    

    .header-logo-container {
        margin-inline: auto;
        transform: translateX(-8px);
    }
}
    

@media screen and (max-width: 680px) {
    
    .header-top {
        flex-direction: column;
        /* justify-content: center; */
        text-align: center;
    }
    
    .header-top-contactData {        
        flex-direction: column;
        display: none;
    }
    
    .header-top-contactData p {    
        margin: 4px 0px 4px 0px;
    }

    .header-top-socialNetworks {
        /* margin-bottom: 5px; */
    }
}